::-webkit-scrollbar { width: .5rem; }
::-webkit-scrollbar-track { background: #444; }
::-webkit-scrollbar-thumb { background: greenyellow; }
::-webkit-scrollbar-thumb:hover { background: white; }
* {
    font-family: sans-serif;
    color: greenyellow;
}
html, body { 
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
}
body { min-height: 100vh; }
a { text-decoration: none; }
    a:hover { color: white; }
hr { 
    border-color: greenyellow;
    width: 100%;
}
a.backBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 3rem;
}
i {
    font-size: 3rem;
    opacity: .6;
}
    i:hover {
        color: white;
    }

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
ul { list-style: none; }
footer {
    display: grid;
    width: 100%;
    height: fit-content;
    padding: 2% 0;
    background-color: #444; 
    position: absolute;
    text-align: left;
    grid-template-columns: 30% 30% 30%;
    gap: 5rem;
}

.unanimated {
    opacity: 0;
}
.hidden {
    opacity: 0
}
.container {
    margin: 5% 5%;
}
.justify { 
    display: flex;  
    justify-content: center; 
}
.left { 
    display: flex;  
    justify-content: left; 
}
.level { 
    display: flex;  
    align-self: center; 
    margin: 4rem 0;
}
#welcome { 
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}
.tile-frame {
    display: grid;
    gap: 5rem;
    grid-template-columns: 30% 30% 30%;
    margin: 3rem 0;
}
.tile {
    background: #444;
    width: 17rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px black;
}
.button {
    padding: .25rem;
    border: 1px solid greenyellow;
    border-radius: .25rem;
    font-weight: bold;
}
    .button:hover {
        border-color: white;
    }
.card {
    display: grid;
    height: 100%;
    grid-template-rows: 3rem 10rem 3rem auto 2rem;
    gap: .5rem;
}
.card-head, .card-image, .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-head {
    justify-content: space-between;
    align-items: center;
}
.card-image > img { 
    max-width: 9rem; 
    max-height: 9rem; 
    margin: 1rem 0;
    border-radius: .5rem;
    box-shadow: 1px 1px 3px black;
}
.card-tagfield {
    display: flex;
    height: fit-content;
    padding: .5rem 1rem;
    border-top: 2px solid greenyellow;
}
    .card-tagfield > span {
        margin: .25rem;
    }
    .card-tagfield > p {
        margin-top: .25rem;
        margin-left:.5rem;
    }
.card-content { 
    text-align: justify;
    align-items: start;
}
    .card-content > p > a {
        font-weight: bold;
    }
.card-text {
    margin: 0;
}
    p.card-text {
        font-size: 1.1rem;
    }
.card-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-left {
    margin-left: 3rem;
}
    .footer-left > h4 {
        margin-bottom: .5rem;
    }
    .footer-left > p { 
        font-size: small;
        font-weight: bolder;
        padding-left: 1rem;
        margin: .5rem 0; 
    }
.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 50vh 0;
}
.board {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 20% auto;
    grid-template-areas:
    'board-h board-h'
    'board-b board-b';
    background: #444;
    width: 90%;
    height: 75%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px black;
}
.board-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: board-h;
}
    .board-header > * {
        margin: 0;
    }
.board-title {
    display: flex;
    justify-content: left;
    align-items: center;
}
    .board-title > * {
        margin: 0 1rem;
    }
.board-tagfield {
    display: flex;
    height: fit-content;
    padding: .5rem 2rem;
}
    .board-tagfield > * {
        margin: .25rem;
    }
.board-body {
    display: flex;
    flex-direction: row;
    height: 70%;
    padding: 1rem 2rem;
    grid-area: board-b;
}
.board-left {
    width: 100%;
}
.board-right {
    display: grid;
    grid-template-areas: 'board-c';
    border-left: 2px solid greenyellow;
    overflow: hidden;
}
.board-menu {
    display: flex;
    justify-content: left;
}
    .board-menu ul {
        flex-grow: 1;
        padding: 1rem 0;
    }
.boardMenu-item > input {
    display: none;
}
.boardMenu-item > label {
    display: block;
    opacity: .5;
    text-align: left;
    font-weight: bold;
    line-height: 2rem;
    border-right-color: white;
    transition: border .2s ease-in-out;
}
.boardMenu-item > label:hover {
    opacity: .75;
    cursor: pointer;
    user-select: none;
}
.boardMenu-item > input:checked + label {
    opacity: 1;
    border-right: .25rem solid white;
}
.board-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: board-c;

    height: 80%;
    padding: 0 3rem;
    text-align: justify;
}
    .board-content > img {
        height: 45%;
        border-radius: 1rem;
        box-shadow: 1px 1px 3px black;
    }
.tag {
    display: flex;
    background-color: rgba(10, 10, 10, .1);
    color: #FF8552;
    height: 1.5rem;
    font-size: .75rem;
    border-radius: .5rem;
    padding: 0 .75rem;
    align-items: center;
}