::-webkit-scrollbar { width: .5rem; }
::-webkit-scrollbar-track { background: #444; }
::-webkit-scrollbar-thumb { background: #B2FF19; }
::-webkit-scrollbar-thumb:hover { background: white; }
* {
    font-family: sans-serif;
    color: #B2FF19;
}
html, body { 
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color: #555;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.scroll-hidden {
    overflow: hidden;
}
a { text-decoration: none; }
    a:hover { color: white; }
hr { 
    border-color: #B2FF19;
    width: 100%;
}
a.backBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 3rem;
}
i.back-icon {
    font-size: 3rem;
    opacity: .6;
}
    i.back-icon:hover {
        color: white;
    }

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
ul { list-style: none; }
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-button {
    display: flex;
    justify-content: space-between;
    background-color: #444;
    min-width: 10rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
}
    .dropdown-button:hover, .dropdown-button:focus {
        background-color: #555;
    }
    .dropdown-button * {
        pointer-events: none;
    }
.dropdown-selected {
    color: #B2FF19;
    font-size: 1rem;
    font-weight: bold;
    user-select: none;
}
    .dropdown-button:hover .dropdown-selected, .dropdown-button:hover i {
        color: white;
    }
.dropdown-item input {
    display: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 10rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
    z-index: 1;
}
.dropdown-content li {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    color: #B2FF19;
    font-weight: bold;
}
    .dropdown-content li:hover {
        background-color: #555;
    }
.dropdown-content li label {
    display: block;
    padding: .75rem 1rem;
}
    .dropdown-content li:hover label {
        color: white;
    }
.dropdown-content li, .dropdown-content li label {
    cursor: pointer;
    user-select: none;
}
.show {
    display: block;
}

footer {
    display: grid;
    width: 100%;
    height: fit-content;
    padding: 2% 0;
    background-color: #444; 
    position: absolute;
    text-align: left;
    grid-template-columns: 30% 30% 30%;
    gap: 5rem;
}

.unanimated {
    opacity: 0;
}
.hidden {
    opacity: 0
}
.container {
    margin: 5% 5%;
}
.justify { 
    display: flex;  
    justify-content: center; 
}
.left { 
    display: flex;  
    justify-content: left; 
}
.level { 
    display: flex;  
    align-self: center; 
    margin: 4rem 0;
}
#welcome { 
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}
.tile-frame {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(3, auto);
    margin: 3rem 0;
    justify-content: center;
}
.tile {
    background: #444;
    width: 17rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px black;
}
.button {
    padding: .25rem;
    border: 1px solid #B2FF19;
    border-radius: .25rem;
    font-weight: bold;
}
    .button:hover {
        border-color: white;
    }
.card {
    display: grid;
    height: 100%;
    grid-template-rows: 3rem 10rem 3rem auto 2rem;
    gap: .5rem;
}
.card-head, .card-image, .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-head {
    justify-content: space-between;
    align-items: center;
}
.card-image > img { 
    max-width: 9rem; 
    max-height: 9rem; 
    margin: 1rem 0;
    border-radius: .5rem;
    box-shadow: 1px 1px 3px black;
}
.card-tagfield {
    display: flex;
    height: fit-content;
    padding: .5rem 1rem;
    border-top: 2px solid #B2FF19;
}
    .card-tagfield > span {
        margin: .25rem;
    }
    .card-tagfield > p {
        margin-top: .25rem;
        margin-left:.5rem;
    }
.card-content { 
    text-align: justify;
    align-items: start;
}
    .card-content > p > a {
        font-weight: bold;
    }
.card-text {
    margin: 0;
}
    p.card-text {
        font-size: 1.1rem;
    }
.card-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-left {
    margin-left: 3rem;
}
    .footer-left > h4 {
        margin-bottom: .5rem;
    }
    .footer-left > p { 
        font-size: small;
        font-weight: bolder;
        padding-left: 1rem;
        margin: .5rem 0; 
    }
.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 50vh;
    scroll-snap-align: center;
}
.board {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 20% auto;
    grid-template-areas:
    'board-h board-h'
    'board-b board-b';
    background: #444;
    width: 90%;
    height: 80%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px black;
}
.board-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: board-h;
}
    .board-header > * {
        margin: 0;
    }
.board-title {
    display: flex;
    justify-content: left;
    align-items: center;
}
    .board-title > * {
        margin: 0 1rem;
    }
.board-tagfield {
    display: flex;
    height: fit-content;
    padding: .5rem 2rem;
}
    .board-tagfield > * {
        margin: .25rem;
    }
.board-body {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    grid-area: board-b;
    overflow-x: hidden;
    overflow-y: auto;
}
.board-left {
    width: 100%;
    border-right: 2px solid #B2FF19;
}
.board-right {
    display: grid;
    grid-template-areas: 'board-c';
}
.board-menu-dropdown {
    display: none;
    justify-content: center;
    border-top: 2px solid #B2FF19;
    border-bottom: 2px solid #B2FF19;
}
.board-menu {
    display: flex;
    justify-content: left;
}
    .board-menu ul {
        flex-grow: 1;
        padding: 1rem 0;
    }
.board-item input {
    display: none;
}
.board-item > label {
    display: block;
    opacity: .5;
    text-align: left;
    font-weight: bold;
    line-height: 2rem;
    border-right-color: white;
    transition: border .2s ease-in-out;
}
.board-item > label:hover {
    opacity: .75;
    cursor: pointer;
    user-select: none;
}
.board-item input:checked + label.menu-item {
    opacity: 1;
    border-right: .25rem solid white;
}
.board-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    grid-area: board-c;

    height: 100%;
    padding: 0 3rem;
    text-align: justify;
    overflow-y: auto;
}
    .board-content > img {
        height: 45%;
        border-radius: 1rem;
        box-shadow: 1px 1px 3px black;
    }
.tag {
    display: flex;
    background-color: rgba(10, 10, 10, .1);
    color: #FDA115;
    height: 1.5rem;
    font-size: .75rem;
    border-radius: .5rem;
    padding: 0 .75rem;
    align-items: center;
}

@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 756px) {
    h1 {
        font-size: 2rem;
    }
    .tile-frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
    }
    .board {
        grid-template-rows: 12% auto;
        padding: 4%;
        height: 80%;
    }
    .board-body {
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }
    .board-menu {
        display: none;
    }
    .board-menu-dropdown {
        display: flex;
    }
    .board-content {
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
    .board-content > img {
        width: 70%;
    }
    footer {
        grid-template-columns: auto;
        gap: 1rem;
        text-align: center;
    }
    .footer-left {
        margin: 0;
        justify-self: center;
    }
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 1128px) {
    .tile-frame {
        grid-template-columns: repeat(2, auto);
        gap: 3rem;
        justify-content: center;
    }
    .board-content {
        padding: 0 1rem;
    }
}